@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#circle_spin {
  animation: spin 10s linear infinite;
  transform-origin: center;
}

#opacity-breathe {
  animation: opacity-breathe 2s ease-in-out infinite;
}

@keyframes opacity-breathe {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@layer base {
  :root {
    --background: 0 0% 6%;
    --foreground: 0 0% 100%;

    --card: 0 0% 8%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 160 60% 60%;
    --primary-foreground: 160 60% 6%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 160 30% 85%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0 100%;
    --ring: 0 0% 3.9%;

    --radius: 5px;
  }

  .dark {
    --background: 133 50% 7%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: #091b0d;
  background: #fff;
}

::selection {
  color: #091b0d;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  padding: 1rem 0;
}

h2 {
  font-size: 2rem;
  padding: 1rem 0;
}

h3 {
  font-size: 1.75rem;
  padding: 1rem 0;
}

h4 {
  font-size: 1rem;
  padding: 1rem 0;
}

h5 {
  font-size: 1rem;
  padding: 0.25rem 0;
}

h6 {
  font-size: 1rem;
  padding: 1rem 0;
}

#scroll_finger {
  animation: scroll_finger 2s ease-in-out infinite;
}

@keyframes scroll_finger {
  0% {
    opacity: 0;
  }

  15% {
    transform: Translate(0, 0) rotate(0deg);
    opacity: 1;
  }

  85% {
    transform: Translate(16px, -32px) rotate(15deg);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: Translate(16px, -32px) rotate(15deg);
  }
}

article p {
  opacity: 0.9;
}

#bg-1,
#bg-2,
#bg-3,
#bg-4 {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2000px);
  }

  100% {
    transform: translateY(0);
  }
}

.glitch {
  position: relative;
  animation: strongGlitch 600ms infinite;
}

@keyframes strongGlitch {
  0% {
    text-shadow: 2px 0 #a32952, -2px 2px #5cd6ad;
  }

  10% {
    text-shadow: -2px -2px #a32952, 2px 2px #5cd6ad;
  }

  20% {
    text-shadow: 2px -2px #a32952, -2px 2px #5cd6ad;
  }

  30% {
    text-shadow: -2px 2px #a32952, 2px -2px #5cd6ad;
  }

  40% {
    text-shadow: 2px 2px #a32952, -2px -2px #5cd6ad;
  }

  50% {
    text-shadow: -2px -2px #a32952, 2px 2px #5cd6ad;
  }

  60% {
    text-shadow: 2px 0 #a32952, -2px 2px #5cd6ad;
  }

  70% {
    text-shadow: -2px 2px #a32952, 2px -2px #5cd6ad;
  }

  80% {
    text-shadow: 2px -2px #a32952, -2px 2px #5cd6ad;
  }

  90% {
    text-shadow: -2px 0 #a32952, 2px 2px #5cd6ad;
  }

  100% {
    text-shadow: 2px 2px #a32952, -2px -2px #5cd6ad;
  }
}

.glitch-svg {
  display: inline-block;
  position: relative;
  animation: glitchMove 700ms infinite;
}

@keyframes glitchMove {
  0% {
    transform: translate(0, 0);
    filter: drop-shadow(2px 0 #a32952) drop-shadow(-2px 2px #5cd6ad);
  }

  10% {
    transform: translate(-1px, -1px);
    filter: drop-shadow(-2px -2px #a32952) drop-shadow(2px 2px #5cd6ad);
  }

  20% {
    transform: translate(1px, -1px);
    filter: drop-shadow(2px -2px #a32952) drop-shadow(-2px 2px #5cd6ad);
  }

  30% {
    transform: translate(-1px, 1px);
    filter: drop-shadow(-2px 2px #a32952) drop-shadow(2px -2px #5cd6ad);
  }

  40% {
    transform: translate(1px, 1px);
    filter: drop-shadow(2px 2px #a32952) drop-shadow(-2px -2px #5cd6ad);
  }

  50% {
    transform: translate(-1px, -1px);
    filter: drop-shadow(-2px -2px #a32952) drop-shadow(2px 2px #5cd6ad);
  }

  60% {
    transform: translate(1px, 0);
    filter: drop-shadow(2px 0 #a32952) drop-shadow(-2px 2px #5cd6ad);
  }

  70% {
    transform: translate(-1px, 1px);
    filter: drop-shadow(-2px 2px #a32952) drop-shadow(2px -2px #5cd6ad);
  }

  80% {
    transform: translate(1px, -1px);
    filter: drop-shadow(2px -2px #a32952) drop-shadow(-2px 2px #5cd6ad);
  }

  90% {
    transform: translate(-1px, 0);
    filter: drop-shadow(-2px 0 #a32952) drop-shadow(2px 2px #5cd6ad);
  }

  100% {
    transform: translate(0, 1px);
    filter: drop-shadow(2px 2px #a32952) drop-shadow(-2px -2px #5cd6ad);
  }
}