.sliding-text-rtl {
  animation: slideRightToLeft 200s infinite linear;
}

.sliding-text-ltr {
  animation: slideLeftToRight 200s infinite linear;
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-1200%);
  }
}

@keyframes slideLeftToRight {
  0% {
    transform: translateX(-1000%);
  }
  100% {
    transform: translateX(0);
  }
}
